<!doctype html>
<html lang="pt_BR">

<head th:replace="~{/fragments/base :: headfiles('Autenticação', ~{::link})}">

    <link th:href="@{/css/auth.css}" rel="stylesheet">

</head>

<body class="text-center">

    <form class="form-signin" th:action="@{/auth}" method="POST">
        <div class="centered">
            <div>
                <i class="bi bi-person-rolodex login-icon"></i>
                <span class="logo-font login-title">Leilões</span>
            </div>

            <h1 class="h3 mb-3 font-weight-normal autentique">Por favor, autentique-se</h1>

            <div th:if="${not #strings.isEmpty(mensagem)}"
                 th:utext="${mensagem} +'<button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot; aria-label=&quot;Close&quot;><span aria-hidden=&quot;true&quot;>&times;</span></button>'"
                 class="alert alert-danger alert-dismissible fade show" role="alert">

            </div>

            <label for="email" class="sr-only" style="text-align: left; display: block;">Login</label>
            <input type="text" class="form-control input-login" placeholder="Login" required autofocus name="username">

            <label for="senha" class="sr-only mt-3" style="text-align: left; display: block;">Senha</label>
            <input type="password" class="form-control input-login" placeholder="Senha" required name="password">

            <button class="btn btn-lg btn-primary" type="submit">Autenticar</button>
        </div>
    </form>

</body>

</html>