<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}" th:with="titulo='Usuários'">

<body>
    <div layout:fragment="content">

        <body>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Usuário</th>
                        <th>Papéis</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user :  ${users}">
                        <td th:text="${user.username}"></td>
                        <td>
                            <li th:each="role :  ${user.authorities}">
                                <span th:text="${role.authority}"></span>
                            </li>
                        </td>
                    </tr>
                </tbody>
        </body>

</html>