<!doctype html5>
<html lang="pt_BR" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<meta>
<meta th:insert="~{/fragments/base :: headfiles(${titulo}, ~{::link})}">
<link rel="stylesheet" href="">
</meta>

<body>
    <div th:replace="~{/fragments/base :: header}" />

    <div th:replace="~{/fragments/base :: navmenu}" />

    <div class="container">
        <div th:text="${mensagem}" th:if="${mensagem ne null}" class="alert alert-success"></div>

        <div class="card">
            <div class="card-header" th:classappend="${tituloClass}">
                <span th:text="${titulo}">Título do card</span>
            </div>
            <div class="card-body">

                <div layout:fragment="content">
                    <!-- Conteúdo do template entra aqui -->
                    <h1>Conteúdo do template</h1>
                </div>

            </div>
        </div>
    </div>
</body>

</html>