<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}" th:with="titulo='Cadastro de Pessoas'">

<body>
    <div layout:fragment="content">
        <form th:action="@{/pessoas}" method="POST" th:object="${pessoa}">
            <input type="hidden" th:field="*{id}">

            <label for="nome" class="form-label">Nome:</label>
            <input type="text" th:field="*{nome}" class="form-control" />
            <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" th:errorclass="error-message" />

            <label for="endereco" class="form-label mt-3">Endereço:</label>
            <input type="text" th:field="*{endereco}" class="form-control" />
            <div th:if="${#fields.hasErrors('endereco')}" th:errors="*{endereco}" th:errorclass="error-message" />

            <label for="dataNascimento" class="form-label mt-3">Data Nascimento:</label>
            <input type="text" th:field="*{dataNascimento}" class="form-control" />
            <div th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}" th:errorclass="error-message" />

            <label for="rendimentosAtuais" class="form-label mt-3">Rendimentos:</label>
            <input type="text" th:field="*{rendimentosAnuais}" class="form-control" />
            <div th:if="${#fields.hasErrors('rendimentosAnuais')}" th:errors="*{rendimentosAnuais}" th:errorclass="error-message" />

            <label for="altura" class="form-labe mt-3">Altura:</label>
            <input type="text" th:field="*{altura}" class="form-control" />
            <div th:if="${#fields.hasErrors('altura')}" th:errors="*{altura}" th:errorclass="error-message" />

            <div class="form-check mt-3">
                <input type="checkbox" th:field="*{ativo}" class="form-check-input" />
                <label class="form-check-label" for="flexCheckDefault">
                    Ativo
                </label>
            </div>

            <label for="user" class="form-label">Usuário:</label>
            <select th:field="*{user}" class="form-select" id="user">
                <option th:each="u : ${users}" th:value="${u.username}" th:text="${u.username}" th:selected="${u.username==user}">
                </option>
            </select> <br />

            <input type="submit" value="Salvar" class="btn btn-primary mt-3">
        </form>
    </div>
</body>

</html>