<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}" th:with="titulo='Cadastro de Pessoas'">

<body>
    <div layout:fragment="content">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Endereço</th>
                    <th>Data Nascimento</th>
                    <th style="text-align: right">Rendimentos Anuais</th>
                    <th style="text-align: center">Altura (em m)</th>
                    <th>Ativo</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="pessoa : ${pessoas}">
                    <td><a th:href="@{/pessoas/edit/{id}(id=${pessoa.id})}"><span th:text="${pessoa.nome}"></span></a></td>
                    <td th:text="${pessoa.endereco}">Joao</td>
                    <td th:text="${#temporals.format(pessoa.dataNascimento, 'dd/MM/yyyy')}">Joao</td>
                    <td style="text-align: right" th:text="${#numbers.formatCurrency(pessoa.rendimentosAnuais)}">Joao</td>
                    <td style="text-align: center" th:text="${#numbers.formatDecimal(pessoa.altura, 1,'POINT',2,'COMMA')}">Joao</td>
                    <td>
                        <img th:if="${pessoa.ativo}" th:src="@{/imagens/ativo.png}" />
                        <img th:unless="${pessoa.ativo}" th:src="@{/imagens/naoativo.png}" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>