<head th:fragment="headfiles(titulo, links)">
    <title th:text="'Leilões - ' + ${titulo}"></title>
    <meta charset="utf-8">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="icon" th:href="@{/imagens/favicon.ico}" type="image/x-icon">

    <th:block th:replace="${links}" />
</head>

<div class="logo-bar mb-0 p-3" th:fragment="header">
    <span class="logo-font"><i class="bi bi-person-rolodex"></i> Pessoas</span>
</div>

<div th:fragment="navmenu">
    <nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
        <div class="navbar-nav">
            <a th:classappend="${menu == 'home'} ? 'active'" class="nav-item nav-link" th:href="@{/home}">Home</a>
            <a sec:authorize="hasRole('ADMIN')" th:classappend="${menu == 'cadastrar'} ? 'active'" class="nav-item nav-link" th:href="@{/pessoas/form}">Cadastrar pessoas</a>
            <a sec:authorize="hasRole('ADMIN')" th:classappend="${menu == 'listar'} ? 'active'" class="nav-item nav-link" th:href="@{/pessoas}">Listar pessoas</a>
            <a th:classappend="${menu == 'cad-item'} ? 'active'" class="nav-item nav-link" th:href="@{/itens/form}">Cadastrar itens</a>
            <a th:classappend="${menu == 'list-item'} ? 'active'" class="nav-item nav-link" th:href="@{/itens}">Listar itens</a>
            <a sec:authorize="hasRole('ADMIN')" th:classappend="${menu == 'list-users'} ? 'active'" class="nav-item nav-link" th:href="@{/auth/users}">Usuários e Papéis</a>
        </div>
        <div style="margin-right: 5px;">
            <span sec:authorize="isAuthenticated()" sec:authentication="name" style="margin-right: 3px; font-size: 0.8em;"></span>
            <a href="#" onclick="document.querySelector('#form-logout').submit()" class="btn btn-outline-secondary my-2 my-sm-0">Sair</a>
            <form id="form-logout" th:action="@{/auth/logout}" method="POST"></form>
        </div>
    </nav>
</div>