<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}" th:with="titulo='Cadastro de Itens'">

<body>
    <div layout:fragment="content">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>URL</th>
                    <th>Preço</th>
                    <th style="text-align: right">Pessoa</th>
                    <th>Vendido</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="item : ${itens}">
                    <td><a th:href="@{/itens/edit/{id}(id=${item.id})}">
                            <span th:text="${item.descricao}"></span>
                        </a>
                    </td>
                    <td th:text="${item.url}">Joao</td>
                    <td style="text-align: right" th:text="${#numbers.formatCurrency(item.preco)}" />
                    <td style="text-align: center" th:text="${item.pessoa.nome}" />
                    <td>
                        <img th:if="${item.vendido}" th:src="@{/imagens/ativo.png}" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>