<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}" th:with="titulo='Itens não vendidos'">

<body>
    <div layout:fragment="content">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Ofertante</th>
                    <th style="text-align: right">Preço</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="pessoaItem : ${pessoasItens}">
                    <td th:text="${pessoaItem.descricao}" />
                    <td th:text="${pessoaItem.ofertante}" />
                    <td style="text-align: right" th:text="${#numbers.formatCurrency(pessoaItem.preco)}" />
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>